/*
body {
    width: 100vw; 
    background: rgb(243,243,246);
    background: -moz-linear-gradient(0deg, rgba(243,243,246,1) 0%, rgba(243,243,245,1) 10%, rgba(243,243,244,1) 20%, rgba(243,243,243,1) 30%, rgba(243,243,242,1) 40%, rgba(243,243,241,1) 50%, rgba(243,243,245,1) 60%);
    background: -webkit-linear-gradient(0deg, rgba(243,243,246,1) 0%, rgba(243,243,245,1) 10%, rgba(243,243,244,1) 20%, rgba(243,243,243,1) 30%, rgba(243,243,242,1) 40%, rgba(243,243,241,1) 50%, rgba(243,243,245,1) 60%);
    background: linear-gradient(0deg, rgba(243,243,246,1) 0%, rgba(243,243,245,1) 10%, rgba(243,243,244,1) 20%, rgba(243,243,243,1) 30%, rgba(243,243,242,1) 40%, rgba(243,243,241,1) 50%, rgba(243,243,245,1) 60%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f3f3f6",endColorstr="#f3f3f5",GradientType=1);
}
*/
header {
    display: flex; position: fixed;
    flex-direction: column;
    width: 100vw;
    background-color: skyblue;
}
header ul { list-style: none; }
header li { display: inline;}
header a:hover { text-decoration: none; }
.header-right {
    text-align: right;
}
.header-top {
    background-color: orangered;
    height: 105px; flex-direction: row;
}
.head-logo { height: 100px; padding-top: 5px; padding-left: 10px;}
span.h1 {
    font-size: 48px;
}
.header-right {
    padding: 100px;
}
.header-bottom {
    height: 95px;
    text-align: left;
}
.header-bottom a {
    padding-left: 10px; padding-right: 85px;
    padding-top: 5px; padding-bottom: 5px;
    font-size: 16px; color: darkblue;
    background: rgb(232,231,237);
    background: rgb(232,231,237);
    background: -moz-linear-gradient(180deg, rgba(232,231,237,1) 0%, rgba(121,192,245,1) 23%, rgba(98,177,236,1) 56%);
    background: -webkit-linear-gradient(180deg, rgba(232,231,237,1) 0%, rgba(121,192,245,1) 23%, rgba(98,177,236,1) 56%);
    background: linear-gradient(180deg, rgba(232,231,237,1) 0%, rgba(121,192,245,1) 23%, rgba(98,177,236,1) 56%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e8e7ed",endColorstr="#62b1ec",GradientType=1);
}
.header-bottom li {
    padding-right: 10px;
}